#scanner {
    background-image: url(../scanner.png);
    width: 500px;
    height: 707px;
    bottom: 20px;
    right: 20px;
    position: absolute;
    overflow:hidden;
}

#main-box {
    margin-top: 66px;
    margin-left: 129px;
    height: 203px;
    width: 242px;
    background-color: #66c4c4;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    overflow:hidden;
}

#btn-1, #btn-2, #btn-3 {
    width: 100px;
    height: 80px;
    background-color: transparent;
    border: none;
    font-size: 40px;
    border: #121619 solid 2px;
}

#btn-1 {
    color: greenyellow;
}

#btn-2 {
    color: white;
}

#btn-3 {
    color: red;
}


#signature-box {
    height: 50px;
    width: 200px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #66c4c4;
    border-bottom: black solid 2px;
}