@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');


body {
    background-color: transparent !important;
}

.template, .notification {
    display: none;
}

.notif-container {
    width: 20%;
    position: absolute;
    right: 0%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.notification {
    padding: 8px;
    width: fit-content;
    border-radius: 3px;
    margin: 6px;
    font-family: 'Ubuntu', sans-serif;
}

.success {
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    border-left: 7px solid;
    border-color: rgba(6, 82, 0, 0.95);
}

.inform {
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    border-left: 7px solid;
    border-color: #335b91;
}

.error {
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    border-left: 7px solid;
    border-color: rgb(181, 82, 85, 0.85);
}