body {
    background: none !important;
}

#container {
    font-size: 20px;
    padding: 10px;
    color: rgb(217,227,251);
    position: fixed;
    top: 85%;
    left: 90.5%;
    transform: translate(-50%, -50%);
    background-color: rgb(84, 96, 125);
    border:2px solid rgb(44, 50, 66);
    width: 350px;
    height:185px;
    border-radius: 7px;
    display:none;
    opacity: .9;
}

.nav-link{
    color: rgb(217,227,251)!important;
    margin-left:15px;
}

.nav-link.active{
    color: rgb(84, 96, 125)!important;
}

input{
    border:2px solid rgb(44, 50, 66);
    width:100px!important;
}

.btn {
    background-color: rgb(217,227,251)!important;
    border: 2px solid rgb(44, 50, 66)!important;
    color: rgb(44, 50, 66)!important;
    margin-bottom:6px!important;
}

.btn:hover {
    background-color: rgb(108,123,158)!important;
    border-color: rgb(217,227,251)!important;
    color:rgb(217,227,251)!important;
}

.btn:focus {
    outline: none;
    box-shadow: none!important;
}

.error {
    color:red;
    font-size: 14px;
}

.management-container{
    height:660px;
}

.showroom-slot {
    border:2px solid rgb(44, 50, 66);
    background-color: rgb(217,227,251)!important;
    border-radius: 5px;
    height: 55px;
    padding:5px;
    margin-bottom:20px;
    color:rgb(44, 50, 66)!important;
}

.roster-content {
    border:2px solid rgb(44, 50, 66);
    background-color: rgb(217,227,251)!important;
    border-radius: 5px;
}

.margin-left-10pct{
    margin-left:10%;
}

.margin-left-100 {
    margin-left: 100px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-5 {
    margin-left: 5px;
}

.color-blue{
    color:rgb(44, 50, 66);
}

.trial-content {
    border:2px solid rgb(44, 50, 66);
    background-color: rgb(217,227,251)!important;
    border-radius: 5px;
}

#bill-content {
    border:2px solid rgb(44, 50, 66);
    background-color: rgb(217,227,251)!important;
    height:530px;
    border-radius: 5px;
}


select{
    margin-top:12px!important;
    margin-left:5px;
    width:100px;
    margin-right:10px;
    height:1.8em;
    border:2px solid rgb(44, 50, 66);
}

.table {
    color: rgb(44, 50, 66)!important;
    border-color: rgb(44, 50, 66)!important;
    height:auto;
}

.accordion {
    border:2px solid rgb(44, 50, 66);
    border-radius: 7px;
}

.accordion-item {
    background-color: rgb(108,123,158)!important;
    border:2px solid rgb(108,123,158)!important;
    border-radius: 3px!important;
}

.accordion-button {
    background-color: rgb(171,192,245)!important;
    color:rgb(84, 96, 125)!important;
    padding:.5em 1.25rem!important;
    padding-left:auto!important;
}

.accordion-button:not(.collapsed){
    color:rgb(84, 96, 125)!important;
}

.accordion-button:focus {
    outline: none!important;
    box-shadow: none!important;
}

.accordion-body{
    background-color: rgb(217,227,251);
    color:rgb(84, 96, 125)!important;
}

.width-50pct{
    max-width:50%!important;
}

.create-bill{
    background-color: rgb(217,227,251);
    color:rgb(84, 96, 125)!important;
    height:125px!important;
}

.text-align-center{
    text-align: center;
}

.padding-left{
    padding-left:50%;
}

.text-center{
    margin-left:10%;
}

.logo{
    width:50px;
    height:50px;
    display: inline-block;
    margin-bottom: 10px;
}

.float-right{
    float:right;
}

.display-inline{
    display:inline!important;
}

.display-block{
    display:block!important;
}

.display-inline-block{
    display:inline-block!important;
}

.margin-0{
    margin:0px !important;
}

img {
    max-width:100%;
    max-height:100%;
}

.image-container .caption {
    bottom: -210px;
    transition: all 0.5s;
}

.image-container:hover .caption {
    bottom: 0;
    transition: all 0.5s;
}

.image-container:hover{
    border:1px solid rgb(171,192,245);
}

.image-container {
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
    border:solid 1px rgb(44, 50, 66);
    background-color: white;
    overflow: hidden;
    margin: 10px;
    display:inline-block;
    border-radius:10px;
    font-family: Arial, Helvetica, sans-serif;
}

.image-container img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.image-container .image-caption {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.image-caption {
    padding-top:5px;
    color: #fff;
}

.image-caption p {
    font-size:10px;
}

.image-caption h6 {
    font-size:12px;
    margin-bottom:3px;
}