@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');


.target-wrapper {
	display: none;
}

.target-eye {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	font-size: 3vh;
}

.target-label-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 2vh;
	margin-top: -1.5vh;
}

.target-label {
	list-style: none;
	font-size: 1.3vh;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	text-transform: uppercase;
	user-select: none;
	white-space: nowrap;
	vertical-align: middle;
}

.target-icon {
	color: #4b7ab8;
	margin-top: 1px;
}

.target-item {
	background: black;
	opacity: 0.85;
	border: 0px;
	margin-bottom: 5px;
	width: 190px;
	padding: 6px;
	height: 15px;
	border-radius: 8px;
}